body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin: 0 auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(243, 243, 243);
}

img{
    border-radius: 100%;
}



fieldset {
    width: 60%;
    background-color: rgb(255, 255, 255);
    border-style: dotted;
    border-width: 1px;
    border-color: black;
    margin-bottom: 0.5em;
}

div.password,div.username{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
}

div label{
    margin-right: 1em;
  
}

div.username input, div.password input{
    margin-right: 2em;
    border-radius: 0%;
    border-width: 1px;
    padding: 4px;
    
}

fieldset div {
    margin-top: 0.3em;
    margin-bottom: 0.3em;
}

div.login_buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
   
}

div.login_buttons button, div.login_buttons input{

    margin: 2px;
    padding-top: 0.7em;
    padding-bottom: 0.7em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    border-radius: 1%;
    border-style: hidden;

}

div.login_buttons button{

    background-color: rgb(163, 163, 163);
    
    color: white;
}

div.login_buttons input{
    background-color: rgb(0, 81, 255);
    
    color: white;
}