body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(243, 243, 243);
}



img {
    border-radius: 100%;
    margin-top: 3em;
}



fieldset {
    width: 60%;
    background-color: rgb(255, 255, 255);
    border-style: dotted;
    border-width: 1px;
    border-color: black;
    margin-bottom: 0.5em;
}

#loginForm, #registerForm {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;


}


form .labels {
    width: 50%;
    
    display: flex;
    align-items: end;
    flex-direction: column;
}

form .inputs {
    width: 50%;

    
    display: flex;
    align-items: start;
    flex-direction: column;

}

form label {
    padding: 4px;
    margin: 4px;
}

form input {

    border-radius: 0%;
    border-width: 1px;
    padding: 4px;
    margin: 4px;
}

a button {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 1.5em;
    padding-right: 1.5em;

    border-style: hidden;

    background-color: rgb(163, 163, 163);
    color: white;
}

.buttons input {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 1.5em;
    padding-right: 1.5em;

    border-style: hidden;

    background-color: rgb(53, 100, 255);
    color: white;
}

.buttons {
    display: flex;
    gap: 10px;
    align-items: center;
}

p a{
    text-decoration: none; 
    color: rgb(52, 24, 211);
}


#settingsForm{
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#settingsForm fieldset{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.settingsTitle{
    
    text-align: left;
}

.settingsTitle{
    
    width: 98%;
}