body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 19px;
    margin: 0 auto;
    width: 80%;
}

p{
    text-align: justify;
}

thead{
    background-color: #ddd;
}

tbody tr td:nth-child(2),tbody tr td:first-child{
    font-weight: bold;
}

tbody tr:nth-child(2n){
    background-color: #eee;
}

table{
border-collapse: collapse;
width: 100%;
}

tr,td,th{
    border: 1px solid #000;
}

p a {
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 14px 25px;
    margin-top: 14px;
    text-align: center;
    text-decoration: none; /* keine Unterstreichung ! */
    display: inline-block;
    border-radius: 5px;
}

p a:hover {
    background-color: green;
    color: white;
    padding: 14px 25px;
    margin-top: 14px;
    text-align: center;
    text-decoration: underline; /* keine Unterstreichung ! */
    display: inline-block;
    border-radius: 5px;
    cursor: pointer;
}

td a:hover{
    color: white;
}

div>a{
    background-color: bisque;
    color: blue;
    padding: 14px 25px;
    margin-top: 14px;
    text-align: center;
    text-decoration: none; /* keine Unterstreichung ! */
    display: block;
    border-radius: 5px;
}
div>a:hover{
    background-color: red;
    color: white;
    border-radius: 50px;
}